Repository lumen/lumen, pull requests merged in 2019-10, with the labels that each got.

#310 get_keys/0
  liblumen_alloc/src/erts/process.rs
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/get_keys_0.rs
  lumen_runtime/src/otp/erlang/get_keys_0/test.rs
  lumen_runtime/src/otp/erlang/get_keys_0/test/with_entries.rs
Labels: enhancement, runtime:BIFs

#311 get_keys/1
  liblumen_alloc/src/erts/process.rs
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/get_keys_1.rs
  lumen_runtime/src/otp/erlang/get_keys_1/test.rs
  lumen_runtime/src/otp/erlang/get_keys_1/test/with_entries.rs
Labels: enhancement, runtime:BIFs

#312 put/2
  liblumen_alloc/src/erts/process.rs
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/put_2.rs
  lumen_runtime/src/otp/erlang/put_2/test.rs
Labels: enhancement, runtime:BIFs

#313 integer_to_binary/1
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/integer_to_binary_1.rs
  lumen_runtime/src/otp/erlang/integer_to_binary_1/test.rs
  lumen_runtime/src/otp/erlang/integer_to_binary_1/test/with_integer.rs
Labels: enhancement, runtime:BIFs

#314 integer_to_binary/2
  lumen_runtime/Cargo.toml
  lumen_runtime/proptest-regressions/otp/erlang/integer_to_binary_2/test/with_integer_integer.txt
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/base.rs
  lumen_runtime/src/otp/erlang/binary_to_integer_2.rs
  lumen_runtime/src/otp/erlang/binary_to_integer_2/test.rs
  lumen_runtime/src/otp/erlang/integer_to_binary_2.rs
  lumen_runtime/src/otp/erlang/integer_to_binary_2/test.rs
  lumen_runtime/src/otp/erlang/integer_to_binary_2/test/with_integer_integer.rs
  lumen_runtime/src/test/strategy.rs
  lumen_runtime/src/test/strategy/base.rs
  lumen_runtime/src/test/strategy/term.rs
Labels: enhancement, runtime:BIFs

#319 Re-enable safari tests
  .cirrus.yml
Labels: bug

#321 float_to_binary/1
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/float_to_binary_1.rs
  lumen_runtime/src/otp/erlang/float_to_binary_1/test.rs
  lumen_runtime/src/otp/erlang/float_to_binary_1/test/with_float.rs
  lumen_runtime/src/otp/erlang/float_to_string.rs
Labels: enhancement, runtime:BIFs

#322 float_to_binary/2
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/float_to_binary_2.rs
  lumen_runtime/src/otp/erlang/float_to_binary_2/test.rs
  lumen_runtime/src/otp/erlang/float_to_binary_2/test/with_float.rs
  lumen_runtime/src/otp/erlang/float_to_binary_2/test/with_float/with_empty_list_options.rs
  lumen_runtime/src/otp/erlang/float_to_binary_2/test/with_float/with_proper_list_options.rs
  lumen_runtime/src/otp/erlang/float_to_binary_2/test/with_float/with_proper_list_options/with_decimals.rs
  lumen_runtime/src/otp/erlang/float_to_binary_2/test/with_float/with_proper_list_options/with_decimals/with_compact.rs
  lumen_runtime/src/otp/erlang/float_to_binary_2/test/with_float/with_proper_list_options/with_decimals/without_compact.rs
  lumen_runtime/src/otp/erlang/float_to_binary_2/test/with_float/with_proper_list_options/with_scientific.rs
  lumen_runtime/src/otp/erlang/float_to_string.rs
Labels: enhancement

#328 trunc/1
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/trunc_1.rs
  lumen_runtime/src/otp/erlang/trunc_1/test.rs
Labels: enhancement, runtime:BIFs

#329 float/1
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/float_1.rs
  lumen_runtime/src/otp/erlang/float_1/test.rs
Labels: enhancement, runtime:BIFs

#332 spawn/1
  examples/spawn-chain/src/elixir/chain/none_1/test.rs
  liblumen_alloc/src/erts/term/closure.rs
  lumen_runtime/src/future.rs
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/apply_2.rs
  lumen_runtime/src/otp/erlang/apply_2/test.rs
  lumen_runtime/src/otp/erlang/spawn_1.rs
  lumen_runtime/src/otp/erlang/spawn_1/test.rs
  lumen_runtime/src/otp/erlang/spawn_1/test/with_function.rs
  lumen_runtime/src/otp/erlang/spawn_1/test/with_function/with_arity_zero.rs
  lumen_runtime/src/otp/erlang/spawn_apply_3.rs
  lumen_runtime/src/process.rs
  lumen_runtime/src/process/spawn.rs
  lumen_runtime/src/scheduler.rs
  lumen_runtime/src/test.rs
  lumen_web/src/wait/with_return_0.rs
Labels: bug, enhancement, runtime:BIFs

#334 universaltime/0
  Cargo.lock
  lumen_runtime/Cargo.toml
  lumen_runtime/src/lib.rs
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/universaltime_0.rs
  lumen_runtime/src/otp/erlang/universaltime_0/test.rs
  lumen_runtime/src/time.rs
  lumen_runtime/src/time/datetime.rs
  lumen_runtime/src/time/datetime/std.rs
  lumen_runtime/src/time/datetime/web_sys.rs
Labels: enhancement, runtime:BIFs

#337 spawn_link/1
  liblumen_alloc/src/erts/process.rs
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/is_process_alive_1/test/with_pid/with_self.rs
  lumen_runtime/src/otp/erlang/is_process_alive_1/test/with_pid/without_self/with_process.rs
  lumen_runtime/src/otp/erlang/spawn_link_1.rs
  lumen_runtime/src/otp/erlang/spawn_link_1/test.rs
  lumen_runtime/src/otp/erlang/spawn_link_1/test/with_function.rs
  lumen_runtime/src/otp/erlang/spawn_link_1/test/with_function/with_arity_zero.rs
  lumen_runtime/src/otp/erlang/spawn_link_1/test/with_function/with_arity_zero/with_environment.rs
  lumen_runtime/src/otp/erlang/spawn_link_1/test/with_function/with_arity_zero/without_environment.rs
  lumen_runtime/src/process.rs
  lumen_runtime/src/run/queues.rs
  lumen_runtime/src/scheduler/test.rs
Labels: bug, enhancement, runtime:BIFs

#320 Windows x86_64 build
  .cirrus.yml
  liblumen_beam/src/beam/reader/chunk.rs
  liblumen_beam/src/beam/reader/chunk/auxiliary.rs
  liblumen_beam/src/serialization/etf/codec.rs
  liblumen_beam/src/serialization/etf/codec/auxiliary.rs
  liblumen_core/src/sys/windows/mmap.rs
  lumen_runtime/Cargo.toml
  lumen_runtime/src/otp/erlang/spawn_opt_4/test/with_empty_list_options/with_atom_module/with_atom_function/with_non_empty_proper_list_arguments/with_loaded_module/with_exported_function.rs
  lumen_runtime/src/otp/erlang/spawn_opt_4/test/with_empty_list_options/with_atom_module/with_atom_function/with_non_empty_proper_list_arguments/with_loaded_module/with_exported_function/w_a.rs
  lumen_runtime/src/otp/erlang/spawn_opt_4/test/with_link_in_options_list/with_atom_module/with_atom_function/with_non_empty_proper_list_arguments/with_loaded_module.rs
  lumen_runtime/src/otp/erlang/spawn_opt_4/test/with_link_in_options_list/with_atom_module/with_atom_function/with_non_empty_proper_list_arguments/with_loaded_module/w_e_f.rs
  lumen_runtime/src/otp/erlang/spawn_opt_4/test/with_link_in_options_list/with_atom_module/with_atom_function/with_non_empty_proper_list_arguments/with_loaded_module/w_e_f/w_a.rs
  lumen_runtime/src/otp/erlang/start_timer_4/test/with_proper_list_options/with_list_options/with_invalid_option/with_small_integer_time/with_atom_destination/registered.rs
  lumen_runtime/src/otp/erlang/start_timer_4/test/with_proper_list_options/with_list_options/with_invalid_option/with_small_integer_time/with_atom_destination/registered/w_d_p.rs
  lumen_runtime/src/otp/erlang/start_timer_4/test/with_proper_list_options/with_list_options/with_invalid_option/with_small_integer_time/with_atom_destination/registered/w_s_p.rs
  lumen_runtime/src/system/break_handler.rs
  lumen_runtime/src/system/break_handler/std.rs
  lumen_runtime/src/system/break_handler/wasm32.rs
  lumen_runtime/src/system/break_handler/windows.rs
  lumen_runtime/src/system/host/cpus.rs
Labels: bug, enhancement

#340 spawn_opt/2
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_empty_list_options.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_empty_list_options/with_arity_zero.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_link_and_monitor_in_options_list.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_link_and_monitor_in_options_list/with_arity_zero.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_link_and_monitor_in_options_list/with_arity_zero/with_environment.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_link_and_monitor_in_options_list/with_arity_zero/without_environment.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_link_in_options_list.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_link_in_options_list/with_arity_zero.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_link_in_options_list/with_arity_zero/with_environment.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_link_in_options_list/with_arity_zero/without_environment.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_monitor_in_options_list.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_monitor_in_options_list/with_arity_zero.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_monitor_in_options_list/with_arity_zero/with_environment.rs
  lumen_runtime/src/otp/erlang/spawn_opt_2/test/with_function/with_monitor_in_options_list/with_arity_zero/without_environment.rs
Labels: enhancement, runtime:BIFs

#341 spawn_monitor/3
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/spawn_monitor_3.rs
  lumen_runtime/src/otp/erlang/spawn_monitor_3/test.rs
  lumen_runtime/src/otp/erlang/spawn_monitor_3/test/with_atom_module.rs
  lumen_runtime/src/otp/erlang/spawn_monitor_3/test/with_atom_module/with_atom_function.rs
  lumen_runtime/src/otp/erlang/spawn_monitor_3/test/with_atom_module/with_atom_function/with_empty_list_arguments.rs
  lumen_runtime/src/otp/erlang/spawn_monitor_3/test/with_atom_module/with_atom_function/with_empty_list_arguments/with_loaded_module.rs
  lumen_runtime/src/otp/erlang/spawn_monitor_3/test/with_atom_module/with_atom_function/with_empty_list_arguments/with_loaded_module/with_exported_function.rs
  lumen_runtime/src/otp/erlang/spawn_monitor_3/test/with_atom_module/with_atom_function/with_non_empty_proper_list_arguments.rs
  lumen_runtime/src/otp/erlang/spawn_monitor_3/test/with_atom_module/with_atom_function/with_non_empty_proper_list_arguments/with_loaded_module.rs
  lumen_runtime/src/otp/erlang/spawn_monitor_3/test/with_atom_module/with_atom_function/with_non_empty_proper_list_arguments/with_loaded_module/with_exported_function.rs
  lumen_runtime/src/otp/erlang/spawn_monitor_3/test/with_atom_module/with_atom_function/with_non_empty_proper_list_arguments/with_loaded_module/with_exported_function/with_arity.rs
Labels: enhancement, runtime:BIFs

#342 Lumen.Web.WebSocket.new/1
  Cargo.lock
  lumen_web/Cargo.toml
  lumen_web/src/lib.rs
  lumen_web/src/wait/with_return_0.rs
  lumen_web/src/web_socket.rs
  lumen_web/src/web_socket/new_1.rs
  lumen_web/tests/web.rs
  lumen_web/tests/web/web_socket.rs
  lumen_web/tests/web/web_socket/new_1.rs
Labels: enhancement, lumen_web

#346 :erlang.term_to_binary/1
  liblumen_alloc/src/erts/scheduler/id.rs
  liblumen_alloc/src/erts/term/pid.rs
  lumen_runtime/src/lib.rs
  lumen_runtime/src/node.rs
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/node_0.rs
  lumen_runtime/src/otp/erlang/term_to_binary.rs
  lumen_runtime/src/otp/erlang/term_to_binary_1.rs
  lumen_runtime/src/otp/erlang/term_to_binary_1/test.rs
Labels: enhancement, runtime:BIFs
