Repository lumen/lumen, pull requests merged in 2019-09, with the labels that each got.

#281 Implement :map.values/1
  liblumen_alloc/src/erts/term/map.rs
  lumen_runtime/src/otp/maps.rs
  lumen_runtime/src/otp/maps/values_1.rs
  lumen_runtime/src/otp/maps/values_1/test.rs
  lumen_runtime/src/otp/maps/values_1/test/with_map.rs
Labels: enhancement, runtime:BIFs

#288 Cirrus CI build
  .circleci/Dockerfile
  .circleci/config.yml
  .cirrus.yml
  .cirrus/Dockerfile
  README.md
  lumen_runtime/src/otp/erlang/tests/cancel_timer_2/with_reference_timer_reference/with_empty_list_options/with_local_reference/with_timer/in_different_thread.rs
  lumen_runtime/src/otp/erlang/tests/cancel_timer_2/with_reference_timer_reference/with_empty_list_options/with_local_reference/with_timer/in_same_thread.rs
  lumen_runtime/src/otp/erlang/tests/cancel_timer_2/with_reference_timer_reference/with_list_options/with_async_false/with_info_false/with_local_reference/with_timer/in_same_thread.rs
  lumen_web/src/wait/with_return_0.rs
Labels: bug, testing

#290 macOS x86_64 and wasm32 tasks in Cirrus CI
  .cirrus.yml
  .cirrus/Dockerfile
  examples/spawn-chain/tests/web.rs
Labels: enhancement, testing

#300 apply/2
  liblumen_alloc/src/erts/exception.rs
  liblumen_alloc/src/erts/exception/runtime.rs
  liblumen_alloc/src/erts/exception/system.rs
  liblumen_alloc/src/erts/node.rs
  liblumen_alloc/src/erts/term/pid.rs
  liblumen_alloc/src/erts/term/typed_term.rs
  lumen_runtime/src/future.rs
  lumen_runtime/src/lib.rs
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/apply_2.rs
  lumen_runtime/src/otp/erlang/apply_2/test.rs
  lumen_runtime/src/otp/erlang/apply_2/test/with_function.rs
  lumen_runtime/src/otp/erlang/apply_2/test/with_function/with_empty_list_arguments.rs
  lumen_runtime/src/otp/erlang/apply_2/test/with_function/with_non_empty_proper_list_arguments.rs
  lumen_runtime/src/test/strategy/term.rs
  lumen_web/src/wait/with_return_0.rs
Labels: bug, enhancement

#301 demonitor/1
  .cirrus.yml
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/apply_2/test/with_function/with_non_empty_proper_list_arguments.rs
  lumen_runtime/src/otp/erlang/demonitor_1.rs
  lumen_runtime/src/otp/erlang/demonitor_1/test.rs
  lumen_runtime/src/otp/erlang/demonitor_1/test/with_reference.rs
  lumen_runtime/src/otp/erlang/demonitor_1/test/with_reference/with_monitor.rs
  lumen_runtime/src/otp/erlang/demonitor_2.rs
Labels: enhancement

#302 is_process_alive/1
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/is_process_alive_1.rs
  lumen_runtime/src/otp/erlang/is_process_alive_1/test.rs
  lumen_runtime/src/otp/erlang/is_process_alive_1/test/with_pid.rs
  lumen_runtime/src/otp/erlang/is_process_alive_1/test/with_pid/with_self.rs
  lumen_runtime/src/otp/erlang/is_process_alive_1/test/with_pid/without_self.rs
  lumen_runtime/src/otp/erlang/is_process_alive_1/test/with_pid/without_self/with_process.rs
Labels: enhancement, runtime:BIFs

#303 make_tuple/2
  liblumen_alloc/src/erts/term/term.rs
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/make_tuple_2.rs
  lumen_runtime/src/otp/erlang/make_tuple_2/test.rs
  lumen_runtime/src/test/strategy/term.rs
Labels: enhancement, runtime:BIFs

#305 make_tuple/3
  liblumen_alloc/src/erts/process/alloc/heap_alloc.rs
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/make_tuple_3.rs
  lumen_runtime/src/otp/erlang/make_tuple_3/test.rs
  lumen_runtime/src/otp/erlang/make_tuple_3/test/with_arity.rs
  lumen_runtime/src/otp/erlang/make_tuple_3/test/with_arity/with_proper_list.rs
  lumen_runtime/src/otp/erlang/make_tuple_3/test/with_arity/with_proper_list/with_tuples_in_init_list.rs
  lumen_runtime/src/otp/erlang/make_tuple_3/test/with_arity/with_proper_list/with_tuples_in_init_list/with_arity_2.rs
  lumen_runtime/src/otp/erlang/make_tuple_3/test/with_arity/with_proper_list/with_tuples_in_init_list/with_arity_2/with_positive_index.rs
Labels: enhancement, runtime:BIFs

#307 erase/1
  liblumen_alloc/src/erts/process.rs
  lumen_runtime/src/otp/erlang.rs
  lumen_runtime/src/otp/erlang/erase_1.rs
  lumen_runtime/src/otp/erlang/erase_1/test.rs
Labels: enhancement, runtime:BIFs
